{% extends 'layout.html' %}

{% block content %}
    <h1>About</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque doloremque est illo itaque ratione soluta?
        Aspernatur earum impedit ipsa ipsum, libero maiores nihil officiis quia vero. Asperiores beatae eos
        exercitationem maiores molestias repudiandae saepe. At, et expedita iusto laboriosam perferendis quibusdam totam
        veritatis vero voluptate voluptatum. Architecto assumenda cumque exercitationem fugiat, nisi non odio sequi
        temporibus velit. Architecto eos hic maxime natus nulla officia similique totam! Ab amet aut dolorem ducimus
        eligendi eos et eum eveniet excepturi explicabo facere fugiat id inventore ipsa iste, molestiae molestias optio
        pariatur placeat praesentium quam quia quod reiciendis saepe sint, soluta suscipit veritatis.</p>
{% endblock %}
